In [2]:
#2) Crear un vector de ceros de tamaño 10
import numpy as np
np.zeros((10))

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [89]:
#3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1
vector = np.zeros(10)
vector[5] = 1

print(vector)

[0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]

In [5]:
#4) Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc
arreglo_cero_al_cincuenta= np.arange(50)
arreglo_cero_al_cincuenta
arreglo_cero_al_cincuenta[::-1]

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [63]:
#5) Crear una matriz de 3 x 3 con valores del cero al 8
a = np.triu(np.ones((3, 3)), 8)   # see help(np.triu)
a

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [85]:
#6) Encontrar los indices que no sean cero en un arreglo
import numpy as np
arreglo = [1,2,0,0,4,0]
np_array = np.array((arreglo))
np.where(np_array)

(array([0, 1, 4], dtype=int64),)

In [66]:
#7) Crear una matriz de identidad 3 x 3
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [65]:
#8) Crear una matriz 3 x 3 x 3 con valores randomicos
M = np.random.rand(3,3,3)
M

array([[[0.09157604, 0.5545099 , 0.62776274],
        [0.75934003, 0.94320299, 0.09664865],
        [0.55848079, 0.75219972, 0.72237106]],

       [[0.57642207, 0.27645988, 0.45275417],
        [0.50600082, 0.14267763, 0.79920943],
        [0.68832023, 0.80038035, 0.30633689]],

       [[0.68925534, 0.44385988, 0.57822053],
        [0.66869295, 0.17469091, 0.10258339],
        [0.48736934, 0.15779948, 0.93604634]]])

In [68]:
#9) Crear una matriz 10 x 10 y encontrar el mayor y el menor
M = np.random.rand(10,10)
M

array([[0.14914083, 0.7013579 , 0.80741232, 0.32392405, 0.58759425,
        0.86183805, 0.57206328, 0.80556826, 0.53760616, 0.71120934],
       [0.61402342, 0.0304356 , 0.90128283, 0.76846781, 0.42620153,
        0.53055003, 0.41169478, 0.11722751, 0.35903589, 0.293745  ],
       [0.22215722, 0.77950744, 0.08571092, 0.13713279, 0.82874028,
        0.70107584, 0.40235613, 0.15576007, 0.18063871, 0.10083881],
       [0.43920926, 0.71842809, 0.67587607, 0.49298514, 0.93855495,
        0.87849801, 0.83109124, 0.12019013, 0.08598221, 0.44621842],
       [0.88477149, 0.11094852, 0.62790347, 0.7863535 , 0.41942098,
        0.43793483, 0.77809371, 0.97902424, 0.96499512, 0.05605894],
       [0.10650989, 0.15639518, 0.46902663, 0.43961723, 0.99173241,
        0.50154952, 0.81645644, 0.71482646, 0.87945799, 0.91690037],
       [0.91347753, 0.86218854, 0.26439142, 0.75268715, 0.5904977 ,
        0.31588574, 0.22394141, 0.14246714, 0.33355589, 0.79921637],
       [0.92021782, 0.56372551, 0.54390787, 0.08057401, 0.95673724,
        0.8391914 , 0.50803749, 0.14430282, 0.29658951, 0.28052019],
       [0.78231307, 0.78082027, 0.09658092, 0.51346542, 0.56573227,
        0.92508568, 0.50883583, 0.29919097, 0.29626616, 0.24837098],
       [0.14364391, 0.57052769, 0.2451137 , 0.12221181, 0.12805989,
        0.71380158, 0.3644733 , 0.89764149, 0.82285161, 0.39899061]])

In [69]:
M.min()

0.030435599522187884

In [28]:
M.max()

11

In [30]:
#10) Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)
import pandas as pd

In [32]:
# 11) ¿Como crear una serie de una lista, diccionario o arreglo?

lista_numeros = [1,2,3,4]
tupla_numeros = (1,2,3,4)
np_numeros = np.array((1,2,3,4))

serie_a = pd.Series(
        lista_numeros)
serie_b = pd.Series(
        tupla_numeros)
serie_c = pd.Series(
        np_numeros)
serie_d = pd.Series([
        True,
        False,
        12,
        12.12,
        "1",
        None,
        (),
        [],
        {"nombre":"Nicole"}])
serie_a
serie_b
serie_d

0                    True
1                   False
2                      12
3                   12.12
4                       1
5                    None
6                      ()
7                      []
8    {'nombre': 'Nicole'}
dtype: object

In [54]:
#12) ¿Como convertir el indice de una serie en una columna de un DataFrame?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict) 
# Transformar la serie en dataframe y hacer una columna indice

arr_pand = np.random.randint(0,10,6).reshape(2,3)

df1 = pd.DataFrame(arr_pand)
ser = df1[0]


df1[3] = ser


datos_fisicos_uno = pd.DataFrame(
        arr_pand,
        columns=[
                'Estatura (cm)',
                'Peso (kg)',
                'edad(anios)'])

df1.index = ['Nicole', 'Pirca']
df1.index = ['Nico', 'Pirca']
df1.columns = ['A','B','C','D','F']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 5 elements

In [46]:
# 13) ¿Como combinar varias series para hacer un DataFrame?

import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

arr_pand = np.random.randint(0,10,6).reshape(2,3)

df1 = pd.DataFrame(arr_pand)
ser1 = df1[0]
ser2 = df1[1]
ser1[0]

df1[3] = ser1

df1[4] = ser1 * ser2

datos_fisicos_uno = pd.DataFrame(
        arr_pand,
        columns=[
                'Estatura (cm)',
                'Peso (kg)',
                'edad(anios)'])

datos_fisicos_dos = pd.DataFrame(
        arr_pand,
        columns=[
                'Estatura (cm)',
                'Peso (kg)',
                'edad(anios)'],
        index=['Adrian','Vicente'])

df1.index = ['Nicole', 'Pirca']
df1.index = ['Nico', 'Pirca']
df1.columns = ['A','B','C','D','F']
df1

       A  B  C  D   F
Nico   0  2  1  0   0
Pirca  3  5  5  3  15

In [ ]:
#14) ¿Como obtener los items que esten en una serie A y no en una serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
#16) ¿Como obtener el numero de veces que se repite un valor en una serie?
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [87]:
#17) ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?
ser = pd.Series(np.random.randint(1, 10, 35))

df_ser = pd.DataFrame(ser.values.reshape(7, 5))

print(f"Dataframe:\n{df_ser}")

Dataframe:
   0  1  2  3  4
0  7  2  7  4  4
1  7  7  9  2  7
2  7  4  5  3  7
3  3  6  4  7  5
4  5  7  8  7  9
5  9  9  4  2  7
6  4  5  9  7  1

In [90]:
#18) ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un shape definido?
ser = pd.Series(np.random.randint(1, 10, 35))
#shape(7,5)
ser=ser.values.reshape(7,5)
columnas=np.arange(5)
pd.DataFrame(ser,columns=columnas)

   0  1  2  3  4
0  2  5  3  4  6
1  7  2  2  2  2
2  8  8  6  6  7
3  2  9  2  8  6
4  3  1  8  4  3
5  8  5  8  2  6
6  2  2  2  9  3

In [91]:
#19) ¿Obtener los valores de una serie conociendo la posicion por indice?
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u
ser[pos].values

array(['a', 'e', 'i', 'o', 'u'], dtype=object)

In [92]:
#20) ¿Como anadir series vertical u horizontalmente a un DataFrame?
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
#Verticalmente
df_vertical=pd.DataFrame(ser1,columns=['Serie 1'])
df_vertical['Serie 2']=ser2
print(df_vertical)

   Serie 1 Serie 2
0        0       a
1        1       b
2        2       c
3        3       d
4        4       e

In [56]:
#22)¿Como importar solo columnas especificas de un archivo csv?
import pandas as pd
import numpy as np
import os
import sqlite3
path = 'C://Users//NICOLE//Documents//GitHub//py-pirca-escobar-nicole-stephanie//03-pandas//Data//artwork_data.csv'
df = pd.read_csv(
        path,
        nrows = 10)

columnas = ['id','artist','title','medium','year','acquisitionYear','height','width','units']
df2 = pd.read_csv(
        path,
        nrows = 10,usecols=columnas)

df3 = pd.read_csv(
        path,
        nrows = 10,
        usecols=columnas,
        index_col = 'id')
path_save = 'C://Users//NICOLE//Documents//GitHub//py-pirca-escobar-nicole-stephanie//03-pandas//Data//artwork_data.pickle'
path_save2 = 'C://Users//NICOLE//Documents//GitHub//py-pirca-escobar-nicole-stephanie//03-pandas//Data//whole_artwork_data.pickle'

df3.to_pickle(path_save)

df4 = pd.read_csv(path)
df4.to_pickle(path_save2)

df5 = pd.read_pickle(path_save2)

dfs = pd.read_pickle(path_save2)
df = dfs.iloc[49980:50019,:].copy()