In [2]:
##variable
entero=3
decimal=1.1
nombre="Nicole"
segundo_nombre="Kristalsdfsdfsdfsd"
casado=False
estudiante= True
hijos=None
print(type(entero))  #int
print(type(decimal)) #float
print(type(nombre))  #str 
print(type(segundo_nombre)) #str
print(type(casado))  #boolean
print(type(estudiante)) #boolean
print(type(hijos)) #NoneType


print(entero)
entero=decimal
print(entero)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
3
1.1

In [13]:
#Condicion(Boolean)
#Truty
#Falsy
tuplas =()
listas=[]
diccionarios={}
print(type(tuplas)) #tuple
print(type(listas)) #list
print(type(diccionarios)) #dict

if(""):
    print("Truty")
else:
    print("Falsy")
    
if("a"):
    print("Truty")
else:
    print("Falsy")
    
if(0):
    print("Truty")
else:
    print("Falsy")
if(-1):
    print("Truty")
else:
    print("Falsy")
if(1):
    print("Truty")
else:
    print("Falsy")
#decimales
if(0.00):
    print("Truty")
else:
    print("Falsy")

    
if(None):
    print("Truty")
else:
    print("Falsy")

    
if(()): #Falsy
    print("Truty")
else:
    print("Falsy")
    
if(1,2): #Truty
    print("Truty")
else:
    print("Falsy")
    
#Listas
if([]): #Truty
    print("Truty")
else:
    print("Falsy")

if(["a","b"]): #Truty
    print("Truty")
else:
    print("Falsy")
    
#diccionarios 
if({}): #Faslsy
    print("Truty")
else:
    print("Falsy")

if({nombre:"Nicole"}): #Truty
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [14]:
#Manejo de las listas 
arreglo=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
arreglo[2:5] #Filtrar es cerrada del ([2,5[)
arreglo [2:]
arreglo [:7]
arreglo[-1]
arreglo[2:-1] #filtrar ([2, -1[)
arreglo[-8:-1]
arreglo[-9:]
arreglo[:-2]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
print(type(7 in arreglo))
print(7 in arreglo)

<class 'bool'>
True

In [26]:
len(arreglo)

10

In [29]:
#arreglo.append(11)
#arreglo.pop()
arreglo.insert(1,1.1)
arreglo

[1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [30]:
for numero in arreglo:
    print(numero)
contador=0
while contador <10:
    print(contador)
    contador+=1

1
1.1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
8
9

In [32]:
tupla_numeros= (1,2,3,4,5)
tupla_numeros

(1, 2, 3, 4, 5)

In [33]:
tupla_numeros[0:3]
len(tupla_numeros)

True

In [42]:
nicole={
    12345:"Nicole",
    hijos :None,
    casado: False,
    "apellido":'Pirca',
    'edad': 30,
    'sueldo': 1.1,
    "mascotas":[{nombre:"osita"}],
}
nicole

{12345: 'Nicole',
 None: None,
 False: False,
 'apellido': 'Pirca',
 'edad': 30,
 'sueldo': 1.1,
 'mascotas': [{'Nicole': 'osita'}]}

In [49]:
nicole["apellido"]
nicole["mascotas"]
nicole.keys()
nicole.values()
"apellido" in nicole.keys()

1==1 or 2==3 #true
1==1 and 2==3 #false

False